<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healthcare Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
    <h2>AI-Based Healthcare Assistant</h2>

    <form method="post">
        <input type="text" name="message" placeholder="Describe your symptoms..." required>
        <button type="submit">Send</button>
    </form>

    {% if user_input %}
    <div class="chat">
        <div class="user-msg"><b>You:</b> {{ user_input }}</div>
        <div class="bot-msg"><b>Dr. Kunia:</b> {{ bot_reply }}</div>
        <div class="footer">
        ⚕️ This chatbot provides basic guidance. Consult a doctor for emergencies.
    </div>
    </div>
    {% endif %}
</div>

</body>
</html>
